*{
    margin: 0;
    padding: 0;
    margin: 12px;
    box-sizing: border-box;
}
body{
    background-image: url('45579.png');
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
.box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 15px; */
    margin-top: 2%;
}
.upper{
    background-color: white;
    width: 70%;
    height: auto;
    /* margin-left: 50px;
    padding-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 15px;
 /* display: flex; */
 flex-direction: column; 
 padding-top: 10px;  
}
.container{
    /* background-color: white; */
    width: 100%;
    height: 380px;
    /* margin-left: 50px; */
    /* padding-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}
.box1{
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* justify-content: space-between; */
    /* gap: 10px; */
    margin: 2% 0% 0% 4%;
}
.box1 h1{
    margin: 5% 0% 3% 10%;
}
.infomation{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap: 15px; */
}

input{
    height: 70%;
    width: 250px;
    
}
label{
    font-weight: 10;
}
#Add{
  height: 50%;
  width: 70px;
  /* top: 50px; */
  border-radius: 7px;
  background-color: rgb(166, 9, 222);
  color: wheat;
  margin-top: 15%;
  margin-left: 15%;
  padding: 3%;
  padding-bottom: 12%;
}
#Add:hover{
    background-color: rgb(15, 67, 211);  
  color: wheat;
}

.box2 img{
    width: 90%;
}

.line{
    margin-right: 15px;
    background-color: black;
    height: 1.5px;
    /* width: 67vw; */
}

.container2{
    width: 100%;
}

.Scheduling{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#star{
    height: 38px;
    width: 65px;
    border-radius: 7px;
    border: 1px solid black;
    /* background-color: rgb(15, 67, 211); */
    color:black;
}
#star:hover{
    background-color: rgb(166, 9, 222);  
  color: wheat;
}

/*create div by js start css*/

.appointment-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Adjust alignment as needed */
    gap: 20px; /*Adjust gap between boxes */
}

.appointment {
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 10px; */
    width: 243px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*end js create div*/

/*Star Icon css start*/

.starred {
    color: yellow;
}

  
/*dtar Icon css End*/