*{
    margin: 0;
    padding: 0;
    margin: 15px;
    box-sizing: border-box;
}
body{
    background-image: url('45579.png');
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 15px; */
}
.upper{
    background-color: white;
    width: 70vw;
    height: auto;
    /* margin-left: 50px;
    padding-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
 display: flex;
 flex-direction: column;   
}
.container{
    /* background-color: white; */
    width: 100%;
    height: 500px;
    /* margin-left: 50px; */
    /* padding-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}
.box1{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 10px; */
}
.infomation{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 15px;
}

input{
    height: 40px;
    width: 250px;
}
#Add{
  height: 150px;
  width: 70px;
  border-radius: 7px;
  background-color: rgb(166, 9, 222);
  color: wheat;
}

.line{
    margin-right: 15px;
    background-color: black;
    height: 1.5px;
    width: 65vw;
}



.Scheduling{
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#star{
    height: 35px;
    width: 50px;
    border-radius: 7px;
    border: 1px solid black;
    /* background-color: rgb(15, 67, 211); */
    color:black;
}
#star:hover{
    background-color: rgb(166, 9, 222);  
  color: wheat;
}

/*create div by js start css*/

.appointment-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Adjust alignment as needed */
    gap: 20px; /* Adjust gap between boxes */
}

.appointment {
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 

/*end js create div*/

/*Star Icon css start*/

.starred {
    color: yellow;
}

  
/*dtar Icon css End*/